.vsai-container {
	font-size: 16px;

	h1 {
		color: rgb(35, 84, 247);
		font-size: 4em;
		// background-image: url();
		text-align: center;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: max-content;
		margin: auto;

		.grid-1,
		.grid-2,
		.grid-3 {
			border-top: none;
		}
		.grid-1,
		.grid-4,
		.grid-7 {
			border-left: none;
		}
		.grid-7,
		.grid-8,
		.grid-9 {
			border-bottom: none;
		}
		.grid-3,
		.grid-6,
		.grid-9 {
			border-right: none;
		}
		.empty:hover {
			cursor: pointer;
			background-color: #aaaaaa75;
		}
	}

	.cell {
		background-repeat: no-repeat;
		width: 200px;
		height: 200px;
		border: 2.5px solid #aaa;
		background-size: contain;
		position: relative;

		.index {
			background-color: #555;
			color: #f1f1f1;
			top: 0;
			left: 0;
			width: min-content;
			position: absolute;
			padding: 0px 10px;
			z-index: 100;
		}
		.layer {
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
		.oWin {
			background-color: #ff6e0299;
			backdrop-filter: blur(8px);
		}
		.xWin {
			background-color: #033ad790;
			backdrop-filter: blur(5px);
		}
	}
	.x {
		background-image: url('../../Assets/Image/x.png');
	}
	.o {
		background-image: url('../../Assets/Image/o.png');
	}
}
