@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

/*
  rgb(35, 84, 247);
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Dongle', sans-serif;
	user-select: none;
}
